html, body {
	font-family: 'Raleway', sans-serif;
	height: 100%;
}

#canvas_bg {
	background: #d0edf2;
	position: absolute;
	z-index: -1;
	min-height: 100%;
}

/* Header */
.tml_header {
	padding-top: 20%;
}

.tml_header .title {
	color: #1BB7CE;
	font-size: 52px;
	font-weight: bolder;
}

.tml_header h4 {
	color: #293232;
	font-weight: light;
}

/* Background */
.tml_bg {
 	background: #F7F8F8;
 	padding-top: 5%;
 	padding-bottom: 5%;
	color: #293232;
}

.tml_bg_blue {
	background: #32B6CC;
	padding-top: 5%;
 	padding-bottom: 5%;
	color: white;
}

.subtitle {
	font-size: 25px;
	font-weight: bolder;
	padding-bottom: 2%;
}

.microtitle {
	font-size: 20px;
	padding-top: 2%;
	padding-bottom: 5%;
	font-weight: bold;
}

.tml_bg p {
	padding-top: 1%;
	font-size: 18px;
	font-weight: lighter;
}

.tml_var {
	padding-top: 3%;
}

.tml_var p {
	padding-top: 1%;
	font-size: 18px;
	font-weight: lighter;	
}

.tml_var_p {
	font-size: 18px;
	font-weight: lighter;	
}

.tml_vimg {
	width: 30%;
	padding-top: 4%;
	padding-bottom: 3%;
}

/* Bootstrap Adjust */
.fill {
	min-height: 100%;
	height: 100%;
}
